<template>
    <div>
        <md-list class="list">
            <md-list-item to='/ShopList' replace>
                <div>
                    <md-icon>view_list</md-icon>
                    <span>Liste des commerces</span>
                </div>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item to='/Map' replace>
                <div>
                    <md-icon>place</md-icon>
                    <span>Localisation</span>
                </div>
            </md-list-item>
            <md-divider></md-divider>
        </md-list>
    </div>
</template>

<script>

export default {
    name: 'MapComponent',
    data () {
        return {
            userInfo: null,
            usersSubscription: null,
            companies: null
        };
    },

    // beforeCreate() {
    //     if (Number(JSON.parse(localStorage.getItem("token")).expiresIn) >= new Date().getTime() / 1000) {
    //         this.$router.replace('/Login');
    //     }
    // },
    // beforeMount() {
    //     if (Number(JSON.parse(localStorage.getItem("token")).expiresIn) >= new Date().getTime() / 1000) {
    //         this.$router.replace('/Login');
    //     }
    // },
}
</script>

<style scoped>

    .list {
        margin: 10px;

        padding-left: 10px;
        padding-right: 10px;
    }

</style>
