<template>
    <div>
        <gmap-map class="app-map" v-if="center.lat != null"
            :center="center"
            :zoom="zoom"
            :options="{styles: styleMap}"
            map-type-id="terrain">

            <gmap-marker
                :key="index"
                v-for="(m, index) in markers"
                :position="m.position"
                :label="m.label.split(';')[0]"
                :icon="m.icon"
                :clickable="true"
                :draggable="false"
                @click="onShowShop(m.label)">
            </gmap-marker>
        </gmap-map>

        <md-dialog
            :md-fullscreen="false"
            class="md-primary"
            md-theme="md-theme-red"
            :md-active.sync="showShopDialog">
            <md-dialog-title>
                {{ dialogContent[0] }}
            </md-dialog-title>
            <md-content class="content">
                {{ dialogContent[1] }}
            </md-content>
            <md-dialog-actions>
                <md-button class="md-primary" md-theme="md-theme-red" @click="showShopDialog = false">Annuler</md-button>
                <md-button class="md-raised md-primary" md-theme="md-theme-red" @click="showShop(dialogContent[2])">Plus</md-button>
            </md-dialog-actions>
        </md-dialog>
    </div>
</template>

<script>
// GOOGLE MAP KEY : AIzaSyAxWeeuQm8A95xdxyoDfUyllKydQoiOk7Y

// ,
// icon: {
//     url: this.icons["beer"],
//     labelOrigin: new google.maps.Point(15,-7)
// },

import ShopApiServices from './../../services/ShopApiServices'

import mapStyle from './../../data/mapStyle.json'

export default {
    name: 'MapComponent',
    data () {
        return {
            shops: {},
            markers: [],
            center: {
                lat: null,
                lng: null
            },
            zoom: 14,
            styleMap: mapStyle,

            showShopDialog: false,

            message: ''
        };
    },

    // beforeCreate() {
    //     if (Number(JSON.parse(localStorage.getItem("token")).expiresIn) >= new Date().getTime() / 1000) {
    //         this.$router.replace('/Login');
    //     }
    // },
    // beforeMount() {
    //     if (Number(JSON.parse(localStorage.getItem("token")).expiresIn) >= new Date().getTime() / 1000) {
    //         this.$router.replace('/Login');
    //     }
    // },

    async mounted() {
        navigator.geolocation.getCurrentPosition((position) => {
            this.center = {
                lat: position.coords.latitude,
                lng: position.coords.longitude
            }
        });

        this.shops = await ShopApiServices.getShopAsync("All");

        this.shops.forEach((shop) => {
            this.markers.push({
                position: { lat: parseFloat(shop.address.lat), lng: parseFloat(shop.address.lng) },
                label: `${shop.name};${shop.description};${shop.siret}`
            });
        });
    },

    computed: {
        dialogContent: function() {
            return this.message.split(';');
        }
    },

    methods: {
        onShowShop(shopString) {
            this.message = shopString;
            this.showShopDialog = true;
        },

        showShop(id) {
            this.$router.replace('/CardDetails/' + id);
        }
    }
}
</script>

<style scoped>

    .app-map {
        position: relative;
        width: 100%;
        height: 505px;
    }

    .content {
        padding-left: 10px;
    }

</style>
