<template>
    <div>
        <md-field md-clearable class="search-bar">
            <md-input placeholder="Rechercher un commerce..." v-model="search"/>
        </md-field>

        <md-empty-state v-if="shops == null"
            md-icon="not_interested"
            md-label="Aucun commerce trouvé"
            md-description="Veuillez vérifier votre connexion internet">
        </md-empty-state>
        <md-progress-spinner v-if="shops == null"
            class="md-primary"
            md-theme="md-theme-red"
            md-mode="indeterminate">
        </md-progress-spinner>

        <div class="shop-list"></div>

        <div v-if="shops != null"
            v-for="(shop, index) of filterShop()" :key="index"
            @click="goTo(`/CardDetails/${shop.siret}`)"
            class="shop">

            <p>{{ shop.name }}</p>

            <md-avatar v-if="shop.image != null" class="shop-image">
                <img src="http://www.quanmax.com/site/wp-content/uploads/2017/06/test.png" alt="Image du commerce">
            </md-avatar>

            <div v-else class="no-image">
                <md-icon>not_interested</md-icon><br/>
                <i>Pas d'image</i>
            </div>
        </div>

        <md-empty-state v-if="shops != null && filterShop().length == 0"
            md-icon="not_interested"
            md-label="Aucun commerce trouvé"
            md-description="Aucun commerce ne correspond à votre recherche">
        </md-empty-state>
    </div>
</template>

<script>

import ShopApiServices from './../../services/ShopApiServices'

export default {
    name: 'ShopListComponent',
    data () {
        return {
            shops: null,
            search: null
        };
    },

    // beforeCreate() {
    //     if (Number(JSON.parse(localStorage.getItem("token")).expiresIn) >= new Date().getTime() / 1000) {
    //         this.$router.replace('/Login');
    //     }
    // },
    // beforeMount() {
    //     if (Number(JSON.parse(localStorage.getItem("token")).expiresIn) >= new Date().getTime() / 1000) {
    //         this.$router.replace('/Login');
    //     }
    // },

    async mounted() {
        var unsortedShop = await ShopApiServices.getShopAsync("All");
        this.shops = unsortedShop.sort((shop1,shop2) => shop1.name < shop2.name ? -1 : shop1.name > shop2.name ? 1 : 0);
    },

    methods: {
        filterShop() {
            var list = this.search ? this.shops.filter((shop) => shop.name.toLowerCase().includes(this.search.toLowerCase())) : this.shops;
            return list || [];
        },

        goTo(path) {
            this.$router.replace(path);
        }
    }
}
</script>

<style scoped>

    .shop-list {
        margin-top: 50px;
        z-index: -5;
    }

    .shop {
        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 100%;

        background: #fff;
        border-bottom: 1px solid #aaa;

        margin: 0px;
        padding: 10px;

        z-index: -1;
    }

    .shop-image {
        padding: 0!important;
        margin: 0!important;
    }

    .search-bar {
        position: fixed;
        top: 55px;
        padding-left: 10px;
        background: #fff;
        z-index: 1;
    }

    .no-image {
        text-align: center;
        font-size: 7px;
    }

</style>
