<template>
    <div>
        <h1>Messages</h1><br/><br/>

        <p>En développement...</p>
    </div>
</template>

<script>

export default {
    name: 'MessagesComponent',
    data () {
        return {

        };
    },

    // beforeCreate() {
    //     if (Number(JSON.parse(localStorage.getItem("token")).expiresIn) >= new Date().getTime() / 1000) {
    //         this.$router.replace('/Login');
    //     }
    // },
    // beforeMount() {
    //     if (Number(JSON.parse(localStorage.getItem("token")).expiresIn) >= new Date().getTime() / 1000) {
    //         this.$router.replace('/Login');
    //     }
    // },
}
</script>

<style scoped>

</style>
