<template>
    <div>
        <md-list class="list">
            <md-list-item to="/UserInfoUpdate">
                <div>
                    <md-icon>settings</md-icon>
                    <span>Modifier compte</span>
                </div>
            </md-list-item>

            <md-divider></md-divider>

            <md-list-item @click="disconnect()">
                <div>
                    <md-icon>home</md-icon>
                    <span>Déconnexion</span>
                </div>
            </md-list-item>

            <md-list-item @click="showConfirmAccountDeletion = true">
                <div>
                    <md-icon>warning</md-icon>
                    <span>Supprimer compte</span>
                </div>
            </md-list-item>
        </md-list>

        <md-dialog-prompt :md-active.sync="showConfirmAccountDeletion"
            v-model="confirmText"
            md-title="Supprimer compte"
            md-input-maxlength="16"
            md-input-placeholder="Veuillez écrire : Supprimer compte"
            md-content="Voulez-vous vraiment supprimer votre compte ? <br/> Cette action est irréversible..."
            md-confirm-text="Oui"
            md-cancel-text="Non"
            @md-confirm="deleteAccount()"
            @md-cancel="showConfirmAccountDeletion = false"/>

        <md-dialog-alert :md-active.sync="delFailure"
            class="md-primary"
            md-theme="md-theme-red"
            md-title="La suppression n'a pas abouti"
            md-content="Vous n'avez pas écrit correctement <b>Supprimer compte</b>"/>
    </div>
</template>

<script>

import UserApiServices from './../../services/UserApiServices'

export default {
    name: 'SettingsComponent',

    data () {
        return {
            userInfo: null,

            showConfirmAccountDeletion: false,
            delFailure: false,
            confirmText: null,

            showSnackBar: false,
            snackBarMessage: ""
        };
    },

    // beforeCreate() {
    //     if (Number(JSON.parse(localStorage.getItem("token")).expiresIn) >= new Date().getTime() / 1000) {
    //         this.$router.replace('/Login');
    //     }
    // },
    // beforeMount() {
    //     if (Number(JSON.parse(localStorage.getItem("token")).expiresIn) >= new Date().getTime() / 1000) {
    //         this.$router.replace('/Login');
    //     }
    // },

    mounted() {
        this.userInfo = JSON.parse(localStorage.getItem("userInfo"));
    },

    methods: {
        async deleteAccount() {
            if (this.confirmText == 'Supprimer compte') {
                await UserApiServices.deleteUserAsync(this.userInfo.userId);
                this.disconnect();
            }
            else {
                this.delFailure = true;
            }
        },

        disconnect() {
            localStorage.clear()
            this.$router.replace('/Login');
        }
    },

    watch: {
        showAccountModif: function() {
            if (this.showAccountModif == false) {
                this.clearForm();
            }
        }
    }
}
</script>

<style scoped>

    .list {
        margin: 10px;

        padding-left: 10px;
        padding-right: 10px;
    }

    .popUpPanel {
        width: 80%;
    }

    .snack {
        position: absolute;
        bottom: 55px;

        z-index: -1;
    }

</style>
