<template>
    <div>
        <form novalidate class="md-layout-row md-gutter" @submit.prevent="validateUser">
            <md-card class="md-flex-50 md-flex-small-100">
                <md-card-header>
                    <div class="md-title">Informations de compte</div>
                </md-card-header>

                <md-card-content>
                    <!-- PRENOM -->
                    <div class="md-layout-row md-layout-wrap md-gutter">
                        <div class="field">
                            <md-field :class="getValidationClass('firstName')" md-clearable>
                                <label for="first-name">Prénom</label>
                                <md-input
                                    name="first-name"
                                    id="first-name"
                                    autocomplete="given-name"
                                    v-model="items.firstName"
                                    :disabled="sending"/>
                            </md-field>
                        </div>

                        <!-- NOM -->
                        <div class="field">
                            <md-field :class="getValidationClass('lastName')" md-clearable>
                                <label for="last-name">Nom</label>
                                <md-input
                                    name="last-name"
                                    id="last-name"
                                    autocomplete="family-name"
                                    v-model="items.lastName"
                                    :disabled="sending"/>
                            </md-field>
                        </div>

                        <!-- BIRTHDATE -->
                        <div class="field">
                            <md-field :class="getValidationClass('birthDate')" md-clearable>
                                <label for="birth-date">Date de naissance</label>
                                <md-input
                                    type="date"
                                    name="birth-date"
                                    id="birth-date"
                                    class="md-primary"
                                    md-theme="md-theme-red"
                                    v-model="items.birthDate"
                                    :disabled="sending"/>
                            </md-field>
                        </div>

                        <!-- PASSWORD -->
                        <div class="field">
                            <md-field :class="getValidationClass('password')" :md-toggle-password="false" md-clearable>
                                <label for="password">Mot de passe</label>
                                <md-input
                                    type="password"
                                    name="password"
                                    id="password"
                                    v-model="items.password"
                                    :disabled="sending"/>

                                <span class="md-error" v-if="!$v.items.password.required">Le mot de passe est requis</span>
                            </md-field>
                        </div>

                        <!-- PASSWORD CONFIRMATION -->
                        <div class="field">
                            <md-field :class="getValidationClass('passwordConfirmed')" :md-toggle-password="false" md-clearable>
                                <label for="passwordConfirmed">Confirmation du mot de passe</label>
                                <md-input
                                    type="password"
                                    name="passwordConfirmed"
                                    id="passwordConfirmed"
                                    v-model="items.passwordConfirmed"
                                    :disabled="sending"/>

                                <span class="md-error" v-if="!$v.items.passwordConfirmed.sameAsPassword">Le mot de passe ne correspond pas</span>
                            </md-field>
                        </div>
                    </div>
                </md-card-content>

                <md-progress-spinner v-if="sending"
                    class="md-primary"
                    md-theme="md-theme-red"
                    md-mode="indeterminate">
                </md-progress-spinner>

                <div class="actions">
                    <md-button type="button" class="md-primary" md-theme="md-theme-red" @click="back()">Retour</md-button>
                    <md-button type="submit" class="md-raised md-primary" md-theme="md-theme-red" :disable="sending">Enregistrer</md-button>
                </div>

            </md-card>

            <md-progress-spinner v-if="sending"
                class="md-primary"
                md-theme="md-theme-red"
                md-mode="indeterminate">
            </md-progress-spinner>

            <md-dialog-alert :md-active.sync="showResult"
                :md-title="dialogContent(0)"
                :md-content="dialogContent(1)"/>

        </form>
    </div>
</template>

<script>

import UserApiServices from './../../services/UserApiServices'

import { validationMixin } from 'vuelidate'
import {
    minLength,
    sameAs
} from 'vuelidate/lib/validators'

export default {
    name: 'UserInfoUpdateComponent',
    mixins: [validationMixin],

    data () {
        return {
            userInfo: null,
            user: null,
            items: {
                firstName: null,
                lastName: null,
                birthDate: null,
                password: null,
                passwordConfirmed: null
            },
            sending: false,
            message: null,
            showResult: false
        };
    },

    // beforeCreate() {
    //     if (Number(JSON.parse(localStorage.getItem("token")).expiresIn) >= new Date().getTime() / 1000) {
    //         this.$router.replace('/Login');
    //     }
    // },
    // beforeMount() {
    //     if (Number(JSON.parse(localStorage.getItem("token")).expiresIn) >= new Date().getTime() / 1000) {
    //         this.$router.replace('/Login');
    //     }
    // },

    validations: {
        items: {
            firstName: { },
            lastName: { },
            birthDate: { },
            password: { minLength: minLength(6) },
            passwordConfirmed: { sameAsPassword: sameAs('password') },
            isShopOwner: { }
        }
    },

    mounted() {
        this.userInfo = JSON.parse(localStorage.getItem("userInfo"));
    },

    methods: {
        getValidationClass(fieldName) {
            const field = this.$v.items[fieldName];

            if (field) {
                return {
                    'md-invalid': field.$invalid && field.$dirty
                };
            }
        },

        clearForm() {
            this.$v.$reset();
            this.items.firstName = null;
            this.items.lastName = null;
            this.items.birthDate = null;
            this.items.password = null;
            this.items.passwordConfirmed = null;
        },

        validateUser() {
            this.$v.$touch();

            this.fillForm();

            if (!this.$v.$invalid) {
                this.saveUser();
            }
        },

        fillForm() {
            this.items = {
                firstName: this.items.firstName || this.userInfo.firstName,
                lastName: this.items.lastName || this.userInfo.lastName,
                birthDate: this.items.birthDate || this.userInfo.birthDate,
                password: this.items.password,
                passwordConfirmed: this.items.passwordConfirmed
            };
        },

        async saveUser() {
            if (this.items.firstName == this.userInfo.firstName
                && this.items.lastName == this.userInfo.lastName
                && this.items.birthDate == this.userInfo.birthDate) {
                this.message = "Erreur;Vous n'avez apporté aucune modifications à vos informations";
                this.showResult = true;
                return;
            }

            this.sending = true;

            var userInfoUpdate = {
                FirstName: this.items.firstName,
                LastName: this.items.lastName,
                BirthDate: this.items.birthDate,
                Password: this.items.password
            };

            try {
                var resp = await UserApiServices.updateUserAsync(userInfoUpdate);

                this.message = "Succès;Vos informations ont bien été mises à jour";
                this.showResult = true;
                this.sending = false;
                this.clearForm();
            } catch (e) {
                console.log(e);

                this.message="Erreur;Une erreur est survenue, vos informations n'ont pas été mises à jour";
                this.showResult = true;
                this.sending = false;
            }
        },

        dialogContent(n) {
            return this.message != null ? this.message.split(';')[n] : '';
        },

        back() {
            this.$router.replace('/Settings');
        }
    }
}
</script>

<style scoped>

    .actions {
        display: flex;
        justify-content: space-between;
    }

</style>
