<template>
    <div>
        <div class="phone-viewport">
            <md-bottom-bar md-sync-route id="navBar" class="md-primary" md-type="shift" md-theme="md-theme-red">
                <!-- Liste des programmes auquels le client a adhéré -->
                <md-bottom-bar-item
                    id="programSubscriptedRoute"
                    class="navTab"
                    to='/ProgramSubscripted'
                    replace
                    md-label="Liste de cartes"
                    md-icon="list">
                </md-bottom-bar-item>

                <!-- Onglet des notifications de l'aplication -->
                <md-bottom-bar-item
                    id="messageRoute"
                    class="navTab"
                    to="/Messages"
                    replace
                    md-label="Notifications"
                    md-icon="message">
                </md-bottom-bar-item>

                <!-- Onglet QR Code pour les clients, et Scanner pour les commerçants -->
                <md-bottom-bar-item
                    id="qrcodeScannerRoute"
                    class="navTab"
                    to='/QrCodeScanner'
                    replace
                    md-label="QR Code"
                    :md-icon="svgQrCode">
                </md-bottom-bar-item>

                <!-- Onglet de localisation, et de recherche de commerce -->
                <md-bottom-bar-item
                    id="localisationRoute"
                    class="navTab"
                    to="/Localisation"
                    replace
                    md-label="Localisation"
                    md-icon="place">
                </md-bottom-bar-item>

                <!-- Onglet de réglages, notamment pour la déconnexion -->
                <md-bottom-bar-item
                    id="settingsRoute"
                    class="navTab"
                    to='/Settings'
                    replace
                    md-label="Options"
                    md-icon="settings">
                </md-bottom-bar-item>
            </md-bottom-bar>
        </div>
    </div>
</template>

<script>

import qrcode from './../assets/qr-code.svg'

export default {
    name: 'NavBar',
    data () {
        return {
            svgQrCode: qrcode,
            iconSize: 35,
            userInfo: {},
            theme: "red"
        };
    },

    created() {
        this.userInfo = JSON.parse(localStorage.getItem('userInfo'));
    },

    methods: {
        goTo(path) {
            this.$router.replace(path);
        }
    }
}
</script>

<style scoped>

    * {
        margin: 0;
        padding: 0;
    }

    #navBar {
        position: fixed;
        bottom: 0;

        display: flex;
        justify-content: center;

        z-index: 1;
    }

    .navTab {
        margin: 0 auto;
    }
</style>
