<template>
    <div>
        <md-toolbar id="toolbar" class="md-primary" md-theme="md-theme-red">
            <md-button class="md-icon-button" @click="showNavigation = true">
                <md-icon>menu</md-icon>
            </md-button>
            <span class="md-title">Fidel'ease</span>

            <div class="md-toolbar-section-end" v-if="userInfo != null && userInfo.type == 'commerçant'">
                <md-button class="md-icon-button" @click="goTo('/ShopSettings')">
                    <md-icon>business</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-drawer :md-active.sync="showNavigation" class="drawer">
            <md-toolbar class="md-primary" md-elevation="2" md-theme="md-theme-red">
                <span class="md-title" v-if="userInfo != null">{{ userInfo.firstName }} {{ userInfo.lastName }}</span>
                <span class="md-title" v-else>Fidel'ease</span>
                <md-avatar v-if="userInfo != null">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/87/Chimpanzee-Head.jpg/220px-Chimpanzee-Head.jpg">
                </md-avatar>
            </md-toolbar>

            <md-list>
                <md-list-item @click="itemClick('/ProgramSubscripted')" :disabled="userInfo == null">
                    <md-icon>list</md-icon>
                    <span class="md-list-item-text">Liste de cartes de fidélité</span>
                </md-list-item>

                <md-list-item @click="itemClick('/ShopList')" :disabled="userInfo == null">
                    <md-icon>view_list</md-icon>
                    <span class="md-list-item-text">Liste des commerces</span>
                </md-list-item>

                <md-divider class="md-inset"></md-divider>

                <md-list-item @click="itemClick('/QrCode')" :disabled="userInfo == null">
                    <md-icon :md-src="iconQrCode"/>
                    <span class="md-list-item-text">QR Code</span>
                </md-list-item>

                <md-list-item @click="itemClick('/Messages')" :disabled="userInfo == null">
                    <md-icon>message</md-icon>
                    <span class="md-list-item-text">Notifications</span>
                </md-list-item>

                <md-divider class="md-inset"></md-divider>

                <md-list-item @click="itemClick('/ContactUs')" :disabled="userInfo == null">
                    <md-icon>mail</md-icon>
                    <span class="md-list-item-text">Nous contacter</span>
                </md-list-item>

                <md-list-item @click="itemClick('/Settings')" :disabled="userInfo == null">
                    <md-icon>settings</md-icon>
                    <span class="md-list-item-text">Options</span>
                </md-list-item>

                <md-list-item @click="goTo('/About')" :disabled="userInfo == null">
                    <md-icon>info_outline</md-icon>
                    <span class="md-list-item-text">À propos</span>
                </md-list-item>

                <md-divider class="md-inset"></md-divider>

                <md-list-item @click="deconnect(); showNavigation = false" :disabled="userInfo == null">
                    <md-icon>power_settings_new</md-icon>
                    <span class="md-list-item-text">Déconnexion</span>
                </md-list-item>
            </md-list>
        </md-drawer>
    </div>
</template>

<script>

import qrcode from './../assets/qr-code.svg'

export default {
    name: 'ToolBarComponent',
    data () {
        return {
            iconQrCode: qrcode,
            userInfo: null,
            showNavigation: false
        };
    },

    methods: {
        itemClick(path) {
            if (this.userInfo != null) {
                this.goTo(path);
            }
        },

        goTo(path) {
            this.showNavigation = false;
            this.$router.replace(path);
        },

        deconnect() {
            localStorage.clear()
            this.$router.replace('/Login');
        }
    },

    watch: {
        '$route' (from, to) {
            if (from.name != "loginRoute") {
                this.userInfo = JSON.parse(localStorage.getItem("userInfo"));
            }
            else {
                this.userInfo = null;
            }
        }
    }
}
</script>

<style scoped>

    #toolbar {
        position: fixed;
        top: 0;
        z-index: 4;
    }

    .drawer {
        position:fixed;
        z-index: 100;
    }

</style>
