<template>
    <div>
        <md-card class="card-details">
            <md-card-area md-inset>
                <md-card-media md-ratio="16:9">
                    <img src="http://www.wallpapers4u.org/wp-content/uploads/restaurant_table_interior_modern_style_39288_1920x1080.jpg" alt="Image du shop">
                </md-card-media>

                <md-card-content class="card-content">
                    <md-card-header>
                        <h2 v-if="shop != null" class="md-title">{{ shop.name }}</h2>
                        <div class="md-subhead">
                            <span>{{ shop.category }}</span> <br/><br/>
                            <md-icon>location_on</md-icon> <span>2 km</span><br/>
                            <span>{{ shop.address.number }} {{ shop.address.road }}</span> <br />
                            <span>{{ shop.address.postalCode }} {{ shop.address.city }}</span>
                        </div>
                    </md-card-header>

                    <md-divider></md-divider>

                    <p>
                        {{ shop.description }}
                    </p>

                    <md-divider></md-divider>

                    <div class="point-list" v-if="subscription != null">
                        <div v-for="(number, index) of getPointList()" :key="index"
                            md-theme="md-theme-red"
                            :class="'md-icon-button fidelity-point ' + (subscription.pointNumber > number ? '' : 'not-earned-point')"
                            :style="(subscription.pointNumber > number ? 'transform: rotate(' + Math.floor(Math.random() * 50) + 'deg)' : '')">
                            <span v-if="subscription.pointNumber <= number">{{ number + 1 }}</span>
                            <img v-else :src="img" class="earned-point"/>
                        </div>
                    </div>

                    <div v-if="shop != null">
                        <p v-if="subscription != null">
                            {{ subscription.pointGoal - subscription.pointNumber }} avant d'obtenir vos récompenses !
                        </p>
                        <p v-else>
                            Au bout de {{ shop.pointGoal }} points de fidélités, ce commerce vous propose :
                        </p>
                        <md-card class="perks-card md-accent" md-theme="md-theme-grey">
                            <p>{{ shop.reward }}</p>
                        </md-card>
                    </div>
                </md-card-content>

                <md-card-actions md-alignment="left">
                    <md-button class="md-icon-button" @click="showUnsubscribe = true" v-if="hasSubscribed">
                        <md-icon>arrow_drop_down</md-icon>
                    </md-button>
                    <md-button class="md-raised md-primary" md-theme="md-theme-red" @click="subscribe()" v-else>
                        Souscrire
                    </md-button>
                </md-card-actions>
            </md-card-area>

            <md-dialog :md-active.sync="showUnsubscribe">
                <md-dialog-title>Ne plus suivre</md-dialog-title>
                Voulez-vous vraiment arrêter de suivre le programme fidélité de ce commerce ?
                Vous perdrez tous vos points accumulés et devrez recommencer à zéro !
                <md-dialog-actions>
                    <md-button @click="unsubscribe()">Oui</md-button>
                    <md-button class="md-primary md-raised" md-theme="md-theme-red" @click="showUnsubscribe = false">Annuler</md-button>
                </md-dialog-actions>

            </md-dialog>

            <md-dialog-alert :md-active.sync="selfSubscription" class="md-primary" md-theme="md-theme-red"
                md-title="Ceci est votre commerce"
                md-content="Vous essayer de suivre le programme de fidélité de votre commerce, cela n'a aucun sens..."/>
        </md-card>
    </div>
</template>

<script>

import ShopApiServices from './../../services/ShopApiServices'
import SubscriptionApiServices from './../../services/SubscriptionApiServices'

export default {
    name: 'CardDetailsComponent',
    data () {
        return {
            img: require('./../../assets/OKStamp.png'),
            userInfo: null,
            shop: null,
            subscription: null,
            hasSubscribed: null,
            showUnsubscribe: false,
            selfSubscription: false
        };
    },

    // beforeCreate() {
    //     if (Number(JSON.parse(localStorage.getItem("token")).expiresIn) >= new Date().getTime() / 1000) {
    //         this.$router.replace('/Login');
    //     }
    // },
    // beforeMount() {
    //     if (Number(JSON.parse(localStorage.getItem("token")).expiresIn) >= new Date().getTime() / 1000) {
    //         this.$router.replace('/Login');
    //     }
    // },

    async mounted() {
        this.userInfo = JSON.parse(localStorage.getItem("userInfo"));

        this.shop = await ShopApiServices.getShopByIdAsync(this.$route.params.id);

        // à voir, de toute façon le userInfo c'est le token, donc je sais plus comment on va faire pour lire les infos dedans... bref
        this.subscription = await SubscriptionApiServices.tamerLaPute(this.userInfo.email, this.shop.siret);

        this.hasSubscribed = this.subscription ? true : false;
    },

    methods: {
        getPointList() {
            return Array.from(Array(parseInt(this.shop.pointGoal)).keys());
        },

        async subscribe() {
            if (this.shop.ownerId == this.userInfo.userId) {
                this.selfSubscription = true;
            }
            else {
                try {
                    var resp = await SubscriptionApiServices.createSubscriptionAsync(this.userInfo.userId, this.shop.siret);

                    this.hasSubscribed = true;
                    this.showUnsubscribe = false;
                    this.$router.replace('/ProgramSubscripted');
                } catch (e) {
                    console.log(e);
                }
            }
        },

        async unsubscribe() {
            try {
                var resp = await SubscriptionApiServices.deleteSubscriptionAsync(this.shop.shopId, this.userInfo.userId);

                this.hasSubscribed = false;
                this.showUnsubscribe = false;
                this.$router.replace('/ProgramSubscripted');
            } catch (e) {
                console.log(e);
            }
        }
    }
}
</script>

<style scoped>

    .card-content {
        text-align: left;
    }

    .point-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .fidelity-point {
        display: inline-flex;
        justify-content: center;
        align-items: center;

        margin: 3px;
        padding: 0;
    }

    .not-earned-point {
        background: lightgrey;
    }

    .earned-point {
        width: 100%;
        height: 100%;
    }

    .perks-card {
        text-align: center;
        font-style: oblique;
    }

    .unsubscribe-dialog {
        height:200px;

        margin: 10px;
        padding: 10px;
    }

</style>

<style lang="scss">
    @import "~vue-material/src/theme/engine";

    @include md-register-theme("md-theme-grey", (
        accent: md-get-palette-color(grey, A400)
    ));

    @import "~vue-material/src/theme/all";
</style>
