<template>
    <div>
        <form novalidation class="md-layout-row md-gutter shop-form" @submit.prevent="validateShop">
            <md-card class="md-flex-50 md-flex-small-100 alignment-left card">
                <md-card-header>
                    <div class="md-title">
                        Votre commerce
                        <span v-if="!hasShop" class="noShopRegistered"><br/>(Pas encore enregistré)</span>
                    </div>
                    <div class="md-subhead">
                        <i>Rapellez-vous que ces informations seront celles que voient vos clients, prêtez-y attention...</i>
                    </div>
                </md-card-header>

                <md-content>
                    <md-field :class="getValidationClass('shopName') + ' md-primary'" md-theme="md-theme-red" md-clearable>
                        <label for="shop-name">Nom du commerce</label>
                        <md-input
                            name="shopName"
                            id="shopName"
                            v-model="items.shopName"
                            :disabled="sending">
                        </md-input>

                        <span class="md-error" v-if="!$v.items.shopName.required">Le nom du commerce est requis</span>
                    </md-field>

                    <md-field :class="getValidationClass('shopDescription') + ' md-primary'" md-theme="md-theme-red" md-clearable>
                        <label for="shop-description">Description</label>
                        <md-input
                            name="shopDescription"
                            id="shopDescription"
                            maxlength="1000"
                            v-model="items.shopDescription"
                            :disabled="sending"/>

                        <span class="md-error" v-if="!$v.items.shopDescription.required">La description du commerce est requise</span>
                    </md-field>

                    <md-field :class="getValidationClass('category') + ' md-primary'" md-theme="md-theme-red">
                        <label for="category">Catégorie</label>
                        <md-select name="category" id="category" v-model="items.category" :disabled="sending" v-if="categories != undefined">
                            <md-option v-for="(cate, i) in categories" :key="i" :value="cate">
                                {{ categoryMap[cate] }}
                            </md-option>
                        </md-select>

                        <span class="md-error" v-if="!$v.items.shopDescription.required">La catégorie du commerce est requise</span>
                    </md-field>

                    <md-field :class="getValidationClass('siret') + ' md-primary'" md-theme="md-theme-red" md-clearable>
                        <label for="shop-siret">Numéro de SIRET</label>
                        <md-input
                            name="siret"
                            id="siret"
                            type="number"
                            v-model="items.siret"
                            :disabled="sending">
                        </md-input>

                        <span class="md-error" v-if="!$v.items.siret.required">Le numéro de SIRET est requis</span>
                        <span class="md-error" v-else-if="!$v.items.siret.validateSiret">Le numéro de SIRET doit contenir 14 chiffres</span>
                    </md-field>

                    <md-field :class="getValidationClass('adress') + ' md-primary'" md-theme="md-theme-red" md-clearable>
                        <label for="adress">Adresse</label>
                        <md-input
                            name="adress"
                            id="adress"
                            v-model="items.adress"
                            :disabled="sending">
                        </md-input>

                        <span class="md-error" v-if="!$v.items.adress.required">L'adresse du commerce est requise</span>
                    </md-field>

                    <md-field :class="getValidationClass('postalCode') + ' md-primary'" md-theme="md-theme-red" md-clearable>
                        <label for="postalCode">Code postal</label>
                        <md-input
                            name="postalCode"
                            id="postalCode"
                            v-model="items.postalCode"
                            :disabled="sending">
                        </md-input>

                        <span class="md-error" v-if="!$v.items.postalCode.required">Le code postal est requis</span>
                    </md-field>

                    <md-field :class="getValidationClass('city') + ' md-primary'" md-theme="md-theme-red" md-clearable>
                        <label for="city">Ville</label>
                        <md-input
                            name="city"
                            id="city"
                            v-model="items.city"
                            :disabled="sending">
                        </md-input>

                        <span class="md-error" v-if="!$v.items.city.required">La ville est requise</span>
                    </md-field>

                    <md-field :class="getValidationClass('pointGoal') + ' md-primary'" md-theme="md-theme-red" md-clearable>
                        <label for="shop-points-number">Nombre de point de fidélité</label>
                        <md-input
                            name="pointGoal"
                            id="pointGoal"
                            type="number"
                            v-model="items.pointGoal"
                            :disabled="sending">
                        </md-input>

                        <span class="md-error" v-if="!$v.items.pointGoal.required">Le nombre de points est requis</span>
                    </md-field>

                    <md-field :class="getValidationClass('reward') + ' md-primary'" md-theme="md-theme-red" md-clearable>
                        <label for="program-perk">Avantage(s) client</label>
                        <md-input
                            name="reward"
                            id="reward"
                            v-model="items.reward"
                            :disabled="sending">
                        </md-input>

                        <span class="md-error" v-if="!$v.items.reward.required">Les avantages doivent être décrits</span>
                    </md-field>

                    <md-button
                        type="button"
                        class="md-primary"
                        md-theme="md-theme-red"
                        id="backButton"
                        :disable="sending"
                        @click="back()">
                        Retour
                    </md-button>

                    <md-card-actions class="card-actions">
                        <md-button
                            type="submit"
                            class="md-raised md-primary"
                            md-theme="md-theme-red"
                            :disable="sending">
                            Enregistrer commerce
                        </md-button>
                    </md-card-actions>
                </md-content>
            </md-card>
        </form>

        <md-progress-spinner v-if="sending"
            class="md-primary"
            md-theme="md-theme-red"
            md-mode="indeterminate">
        </md-progress-spinner>

        <md-dialog-alert v-if="showMessage"
            class="md-primary"
            md-theme="md-theme-red"
            :md-active.sync="showMessage"
            :md-title="message.split(';')[0]"
            :md-content="message.split(';')[1]"/>

    </div>
</template>

<script>

import ShopApiServices from './../../services/ShopApiServices'
import Geocode from './../../services/Geocode'

import iconList from './../../data/iconList.json'

import { validationMixin } from 'vuelidate'
import { required } from 'vuelidate/lib/validators'

function validateSiret(siret) {
    return /^\d{14}$/.test(siret);
}

export default {
    name: 'ShopSettingsComponent',
    mixins: [validationMixin],

    data () {
        return {
            categories: iconList,
            categoryMap: {
                "beer":"Bar",
                "coffee":"Café",
                "hairdresser":"Salon de coiffure",
                "massage":"Salon de massage",
                "restaurant":"Restauration",
                "store":"Boutique",
                "supermarket":"Supermarché",
                "veterinarian":"Vétérinaire"
            },
            items: {
                shopName: null,
                shopDescription: null,
                category: null,
                siret: null,
                adress: null,
                postalCode: null,
                city: null,
                pointGoal: null,
                reward: null
            },
            sending: false,

            showMessage: false,
            message: null,

            userInfo: null,
            hasShop: false,
            shop: null
        };
    },

    // beforeCreate() {
    //     if (Number(JSON.parse(localStorage.getItem("token")).expiresIn) >= new Date().getTime() / 1000) {
    //         this.$router.replace('/Login');
    //     }
    // },
    // beforeMount() {
    //     if (Number(JSON.parse(localStorage.getItem("token")).expiresIn) >= new Date().getTime() / 1000) {
    //         this.$router.replace('/Login');
    //     }
    // },

    async mounted() {
        this.userInfo = JSON.parse(localStorage.getItem("userInfo"));
        await this.updateShopData();
    },

    validations: {
        items: {
            shopName: { required },
            shopImage: { required },
            shopDescription: { required },
            category: { required },
            siret: { required, validateSiret },
            adress: { required },
            postalCode: { required },
            city: { required },
            pointGoal: { required },
            reward: { required }
        }
    },

    methods: {
        async updateShopData() {
            this.shop = await ShopApiServices.getShopAsync({
                ownerGuid: this.userInfo.userId
            });
            this.hasShop = this.shop ? true : false;
            this.fillForm();
        },

        fillForm() {
            if (this.shop != null) {
                this.items = {
                    shopName: this.items.shopName || this.shop.shopName,
                    shopImage: this.items.shopImage || 'none',
                    shopDescription: this.items.shopDescription || this.shop.shopDescription,
                    category: this.items.category || this.shop.category,
                    siret: this.items.siret || this.shop.siret,
                    adress: this.items.adress || this.shop.adress,
                    postalCode: this.items.postalCode || this.shop.postalCode,
                    city: this.items.city || this.shop.city,
                    pointGoal: this.items.pointGoal || this.shop.pointGoal,
                    reward: this.items.reward || this.shop.reward
                }
            }
        },

        getValidationClass(fieldName) {
            const field = this.$v.items[fieldName];
            if (field) {
                return { 'md-invalid': field.$invalid && field.$dirty };
            }
        },

        validateShop() {
            this.fillForm();
            this.$v.$touch();

            if (!this.$v.$invalid) {
                this.saveShop();
            }
            else {
                this.message = "Erreur;Veuillez vérifier les informations entrées";
                this.showMessage = true;
            }
        },

        async saveShop() {
            if (this.shop != null) {
                if (this.items.shopName == this.shop.shopName
                    && this.items.shopDescription == this.shop.shopDescription
                    && this.items.category == this.shop.category
                    && this.items.siret == this.shop.siret
                    && this.items.adress == this.shop.adress
                    && this.items.postalCode == this.shop.postalCode
                    && this.items.city == this.shop.city
                    && this.items.pointGoal == this.shop.PointGoal
                    && this.items.reward == this.shop.reward) {

                    this.message = "Erreur;Vous n'avez apporté aucune modifications aux informations de votre commerce";
                    this.showMessage = true;
                    return;
                }
            }

            this.sending = true;

            var shopData = {
                ShopName: this.items.shopName,
                ShopImage: this.shop ? this.shop.shopImage : this.items.shopImage,
                ShopDescription : this.items.shopDescription,
                Category: this.items.category,
                Siret: this.items.siret,
                FullAdress: this.items.adress,
                Adress: this.items.adress,
                PostalCode: this.items.postalCode,
                City: this.items.city,
                PointGoal: this.items.pointGoal,
                Reward: this.items.reward
            };

            shopData.ShopId = this.shop.shopId;

            var coords = await Geocode.getCoords([shopData.Adress, shopData.PostalCode, shopData.City].join(' '));

            if (coords.results.length > 0) {
                shopData.FullAdress = coords.results[0].formatted_address;
                shopData.Lat = coords.results[0].geometry.location.lat;
                shopData.Lng = coords.results[0].geometry.location.lng;

                try {
                    var resp = await ShopApiServices.createOrUpdateShopAsync(shopData)

                    this.updateShopData();
                    this.message = "Succès;Les informations de votre commerce ont été mises à jour";
                    this.showMessage = true;
                    this.sending = false;
                } catch (e) {
                    console.log(e);

                    this.message = "Erreur;L'enregistrements des informations n'a pas abouti";
                    this.showMessage = true;
                    this.sending = false;
                }
            }
            else {
                this.message = "Erreur;L'adresse que vous avez entré n'existe pas";
                this.showMessage = true;
                this.sending = false;
            }
        },

        clearForm() {
            this.$v.$reset();

            this.items = {
                shopName: null,
                shopImage: null,
                shopDescription: null,
                category: null,
                siret: null,
                adress: null,
                postalCode: null,
                city: null,
                pointGoal: null,
                reward: null
            };
        },

        back() {
            this.$v.$reset();
            this.$router.replace('/ProgramSubscripted');
        }
    }
}
</script>

<style scoped>

    .card {
        margin: 10px;
        padding: 10px;
    }

    .alignment-left {
        text-align: left;
    }

    .noShopRegistered {
        color: darkorange;
    }

    #backButton {
        position: absolute;

        bottom: 0;
        left: 0;

        float: left;
    }

    .card-actions {
        margin: 0;
        padding: 0;
    }

    .shop-form {
        z-index: -20;
    }

</style>
