<template>
    <div class="cardList">
        <div v-if="subscriptions != null">
            <md-empty-state v-if="subscriptions.length == 0"
                md-icon="not_interested"
                md-label="Aucune carte de fidélité"
                md-description="Vous n'avez pas encore de carte de fidélité dans votre liste, chercher sans plus tarder vos commerces préférés !">
                <md-button class="md-primary md-raised" md-theme="md-theme-red" to='/Localisation'><md-icon>place</md-icon> Liste de commerce</md-button>
            </md-empty-state>

            <md-card v-for="(subscription, index) of subscriptions" :key="index"
                v-if="subscriptions.length > 0"
                class="card"
                @click.native="goTo(`/CardDetails/${subscription.shop.siret}`)">

                <md-card-header>
                    <md-card-header-text>
                        <div class="md-title">{{ subscription.shop.name }}</div>
                        <div class="md-subhead">{{ subscription.pointNumber }} points sur {{ subscription.pointGoal }}</div>
                    </md-card-header-text>

                    <md-card-media>
                        <img src="http://www.quanmax.com/site/wp-content/uploads/2017/06/test.png" alt="Image du commerce" v-if="subscription.shop.image != null">
                        <img src="https://cdn.browshot.com/static/images/not-found.png" alt="Image du commerce" v-else>
                    </md-card-media>
                </md-card-header>

                <md-progress-bar
                    class="md-accent"
                    md-theme="md-theme-red"
                    md-mode="determinate"
                    :md-value="calcWidth(subscription.pointNumber, subscription.pointGoal)">
                </md-progress-bar>
            </md-card>
        </div>

        <md-progress-spinner v-else
            class="md-primary"
            md-theme="md-theme-red"
            md-mode="indeterminate">
        </md-progress-spinner>
    </div>
</template>

<script>

import SubscriptionApiServices from '../../services/SubscriptionApiServices'

export default {
    name: 'ProgramSubscriptedComponent',
    data () {
        return {
            userInfo: {},
            token: null,
            subscriptions: null,
            sending: false
        };
    },

    // beforeCreate() {
    //     if (Number(JSON.parse(localStorage.getItem("token")).expiresIn) >= new Date().getTime() / 1000) {
    //         this.$router.replace('/Login');
    //     }
    // },
    // beforeMount() {
    //     if (Number(JSON.parse(localStorage.getItem("token")).expiresIn) >= new Date().getTime() / 1000) {
    //         this.$router.replace('/Login');
    //     }
    // },

    async mounted() {
        this.userInfo = JSON.parse(localStorage.getItem("userInfo"));

        try {
            var resp = await SubscriptionApiServices.getSubscriptionId("All");
            var body = resp.json();

            this.subscriptions = body.subscriptions || [];
        } catch (e) {
            console.log(e);
            this.subscriptions = [];
        }
    },

    methods: {
        calcWidth(pointNumber, pointGoal) {
            return Math.round(pointNumber / pointGoal * 100);
        },

        goTo(path) {
            this.$router.push(path);
        }
    }
}
</script>

<style scoped>
    img { max-width: 300px; }

    .card { margin-bottom: 4px; }
</style>
