<template>
    <div>
        <div id="app">
            <ToolBar></ToolBar>
            <img src="./assets/logo.png" v-if="logoNeeded"/>

            <router-view/>

            <NavBar v-if="userInfo != null"></NavBar>
        </div>
    </div>
</template>

<script>

import NavBar from './components/NavBar.vue'
import ToolBar from './components/ToolBar.vue'

import logoNotNeededPath from './data/logoNotNeeded.json'


export default {
    name: 'app',

    data () {
        return {
            userInfo: null,
            logoNeeded: true
        }
    },

    created() {
        localStorage.clear();
        this.$router.replace('/Login');
    },

    mounted() {
        this.userInfo = JSON.parse(localStorage.getItem("userInfo"));

        document.addEventListener("backbutton", this.onBackButtonPressed);
    },

    methods: {
        onBackButtonPressed() {
            switch(this.$route.name) {
                case 'loginRoute':
                    navigator.app.exitApp();
                    break;
                case 'inscriptionRoute':
                case 'programSubscriptedRoute':
                    this.$router.replace('/Login');
                    break;
                case 'shopSettingsRoute':
                case 'cardDetailsRoute':
                case 'messageRoute':
                case 'qrcodeScannerRoute':
                case 'localisationRoute':
                case 'contactUsRoute':
                case 'settingsRoute':
                case 'aboutRoute':
                    this.$router.replace('/ProgramSubscripted');
                    break;
                case 'qrcodeRoute':
                case 'scannerRoute':
                    this.$router.replace('/QrCodeScanner');
                    break;
                case 'shopListRoute':
                case 'mapRoute':
                    this.$router.replace('/Localisation');
                    break;
                case 'userInfoUpdateRoute':
                    this.$router.replace('/Settings');
                    break;
            }
        }
    },

    components: {
        NavBar,
        ToolBar
    },

    watch: {
        '$route' (to, from) {
            this.userInfo = JSON.parse(localStorage.getItem("userInfo"));

            if (logoNotNeededPath.includes(to.name)) this.logoNeeded = false;
            else this.logoNeeded = true;
        }
    }
}
</script>

<style scoped>

    * {
        margin: 0;

        overflow: hidden;
    }

    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin-top: 55px;
        margin-left:0px;
        margin-bottom:55px;
    }

    img {
        max-width: 80%;
        margin-bottom:50px;
    }

    .md-progress-bar {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }

</style>

<style lang="scss">
    @import "~vue-material/src/theme/engine";

    @include md-register-theme("md-theme-red", (
        primary: #e70000,
        accent: #01C533,
    ));

    @include md-register-theme("md-theme-grey", (
        accent: md-get-palette-color(grey, A400)
    ));

    @include md-register-theme("md-theme-light-grey", (
        accent: md-get-palette-color(grey, 900)
    ));

    @import "~vue-material/src/theme/all";
</style>
