<template>
    <div>
        <form novalidate class="md-layout-row md-gutter" @submit.prevent="validateUser">
            <md-card class="md-flex-50 md-flex-small-100">
                <md-card-header>
                    <div class="md-title">Inscription</div>
                </md-card-header>

                <md-card-content>
                    <!-- PRENOM -->
                    <div class="md-layout-row md-layout-wrap md-gutter">
                        <div class="field">
                            <md-field :class="getValidationClass('firstName')" md-clearable>
                                <label for="first-name">Prénom</label>
                                <md-input
                                    name="first-name"
                                    id="first-name"
                                    autocomplete="given-name"
                                    v-model="items.firstName"
                                    :disabled="sending"/>

                                <span class="md-error" v-if="!$v.items.firstName.required">Le prénom est requis</span>
                            </md-field>
                        </div>

                        <!-- NOM -->
                        <div class="field">
                            <md-field :class="getValidationClass('lastName')" md-clearable>
                                <label for="last-name">Nom</label>
                                <md-input
                                    name="last-name"
                                    id="last-name"
                                    autocomplete="family-name"
                                    v-model="items.lastName"
                                    :disabled="sending"/>

                                <span class="md-error" v-if="!$v.items.lastName.required">Le nom est requis</span>
                            </md-field>
                        </div>

                        <!-- BIRTHDATE -->
                        <div class="field">
                            <md-field :class="getValidationClass('birthDate')" md-clearable>
                                <md-input
                                    type="date"
                                    name="birth-date"
                                    id="birth-date"
                                    class="md-primary"
                                    md-theme="md-theme-red"
                                    v-model="items.birthDate"
                                    :disabled="sending"/>

                                <span class="md-error" v-if="!$v.items.birthDate.required">La date de naissance est requise</span>
                            </md-field>
                        </div>

                        <!-- MAIL -->
                        <div class="field">
                            <md-field :class="getValidationClass('email')" md-clearable>
                                <label for="email">Email</label>
                                <md-input
                                    type="email"
                                    name="email"
                                    id="email"
                                    autocomplete="email"
                                    v-model="items.email"
                                    :disabled="sending"/>

                                <span class="md-error" v-if="!$v.items.email.required">L'email est requis</span>
                                <span class="md-error" v-else-if="!$v.items.email.email">L'email n'est pas valide</span>
                            </md-field>
                        </div>

                        <!-- PASSWORD -->
                        <div class="field">
                            <md-field :class="getValidationClass('password')" :md-toggle-password="false" md-clearable>
                                <label for="password">Mot de passe</label>
                                <md-input
                                    type="password"
                                    name="password"
                                    id="password"
                                    v-model="items.password"
                                    :disabled="sending"/>

                                <span class="md-error" v-if="!$v.items.password.required">Le mot de passe est requis</span>
                            </md-field>
                        </div>

                        <!-- PASSWORD CONFIRMATION -->
                        <div class="field">
                            <md-field :class="getValidationClass('passwordConfirmed')" :md-toggle-password="false" md-clearable>
                                <label for="passwordConfirmed">Confirmation du mot de passe</label>
                                <md-input
                                    type="password"
                                    name="passwordConfirmed"
                                    id="passwordConfirmed"
                                    v-model="items.passwordConfirmed"
                                    :disabled="sending"/>

                                <span class="md-error" v-if="!$v.items.passwordConfirmed.required">La confirmation du mot de passe est requise</span>
                                <span class="md-error" v-else-if="!$v.items.passwordConfirmed.sameAsPassword">Le mot de passe ne correspond pas</span>
                            </md-field>
                        </div>

                        <!-- IS THE USER A STOREKEEPER -->
                        <md-checkbox
                            name="isShopOwner"
                            id="isShopOwner"
                            class="md-primary"
                            md-theme="md-theme-red"
                            v-model="items.isShopOwner"
                            :disabled="sending"/>

                            Je suis un commerçant
                        </md-checkbox>

                    </div>
                </md-card-content>

                <md-progress-spinner v-if="sending"
                    class="md-primary"
                    md-theme="md-theme-red"
                    md-mode="indeterminate">
                </md-progress-spinner>

                <md-button type="button" class="md-primary" md-theme="md-theme-red" id="backButton" @click="back()">Retour</md-button>
                <md-card-actions>
                    <input type="submit" value="INSCRIRE"/>
                </md-card-actions>

            </md-card>

            <md-dialog-alert :md-active.sync="showResult"
                :md-title="dialogContent(0)"
                :md-content="dialogContent(1)"/>

        </form>

    </div>
</template>

<script>

import UserApiServices from './services/UserApiServices'

import { validationMixin } from 'vuelidate'
import {
    required,
    email,
    minLength,
    sameAs
} from 'vuelidate/lib/validators'

export default {
    name: 'InscriptionComponent',
    mixins: [validationMixin],

    data () {
        return {
            items: {
                firstName: null,
                lastName: null,
                birthDate: null,
                email: null,
                password: null,
                passwordConfirmed: null
            },
            sending: false,
            message: null,
            showResult: false
        };
    },

    validations: {
        items: {
            firstName: { required },
            lastName: { required },
            birthDate: { required },
            email: { required, email },
            password: { required, minLength: minLength(6) },
            passwordConfirmed: { required, sameAsPassword: sameAs('password') },
            isShopOwner: { }
        }
    },

    methods: {
        getValidationClass(fieldName) {
            const field = this.$v.items[fieldName];

            if (field) {
                return {
                    'md-invalid': field.$invalid && field.$dirty
                };
            }
        },

        clearForm() {
            this.$v.$reset();
            this.items.firstName = null;
            this.items.lastName = null;
            this.items.birthDate = null;
            this.items.email = null;
            this.items.password = null;
            this.items.passwordConfirmed = null;
        },

        validateUser() {
            this.$v.$touch();

            if (!this.$v.$invalid) {
                this.saveUser();
            }
        },

        async saveUser() {
            this.sending = false;

            var userInfos = {
                FirstName: this.items.firstName,
                LastName: this.items.lastName,
                BirthDate: this.items.birthDate,
                Email: this.items.email,
                Password: this.items.password,
                IsShopOwner: (this.items.isShopOwner ? true : false)
            };

            try {
                var req = await UserApiServices.createUserAsync(userInfos);

                this.message = `Succès;L'utilisateur ${userInfos.FirstName} ${userInfos.LastName} a bien été enregistré !`;
                this.showResult = true;
                this.sending = false;
                this.clearForm();
            } catch (e) {
                console.log(e);

                this.message = 'Erreur;Une erreur est survenue, l\'enregistrement de l\'utilisateur n\'a pas abouti';
                this.showResult = true;
                this.sending = false;
            }
        },

        back() {
            this.$router.replace('/Login');
        },

        dialogContent(n) {
            return this.message != null ? this.message.split(';')[n] : '';
        }
    }
}
</script>

<style scoped>
    * { margin: 0; }

    #backButton {
        position: absolute;

        bottom: 0;
        left: 0;

        margin: 10px;

        float: left;
    }

    form { margin:10px; }

    .field { margin-bottom: 20px; }

    .md-progress-bar {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }
</style>
