<template>
    <div>
        <form novalidate class="md-layout-row md-gutter" @submit.prevent="validateUser()" @deconnexion="deconnect">
            <md-card class="md-flex-50 md-flex-small-100 card">
                <md-card-header>
                    <div class="title">Connexion</div>
                </md-card-header>

                <md-content>
                    <div class="md-layout-row md-layout-wrap md-gutter">
                        <div class="field">
                            <md-field :class="getValidationClass('email') + ' md-primary'" md-theme="md-theme-red" md-clearable>
                                <label for="email">Email</label>
                                <md-input
                                    type="email"
                                    name="email"
                                    id="email"
                                    autocomplete="email"
                                    v-model="items.email"
                                    :disabled="sending"/>

                                <span class="md-error" v-if="!$v.items.email.required">Veuillez saisir un e-mail</span>
                                <span class="md-error" v-else-if="!$v.items.email.email">L'email n'est pas valide</span>
                            </md-field>
                        </div>

                        <div class="field">
                            <md-field :class="getValidationClass('password') + ' md-primary'" md-theme="md-theme-red" :md-toggle-password="false" md-clearable>
                                <label for="password">Mot de passe</label>
                                <md-input
                                    type="password"
                                    name="password"
                                    id="password"
                                    v-model="items.password"
                                    :disabled="sending"/>

                                <span class="md-error" v-if="!$v.items.password.required">Veuillez saisir un mot de passe</span>
                            </md-field>
                        </div>
                    </div>
                </md-content>

                <md-card-actions class="md-alignment-left">
                    <md-button
                        type="submit"
                        class="md-raised md-primary"
                        md-theme="md-theme-red"
                        :disable="sending">
                        Connexion
                    </md-button>

                    <md-button
                        type="button"
                        class="md-primary"
                        id="inscriptionButton"
                        md-theme="md-theme-red"
                        :disabled="sending"
                        @click="inscriptionRoute()">
                        Inscription
                    </md-button>
                </md-card-actions>

                <span id="noUserFound" v-if="respDoesExists">E-mail ou mot de passe incorrect</span>

            </md-card>

        </form>

        <md-progress-spinner v-if="sending"
            class="md-primary"
            md-theme="md-theme-red"
            md-mode="indeterminate">
        </md-progress-spinner>

    </div>
</template>

<script>
import UserApiServices from './services/UserApiServices'

import './assets/svg-icons/qr-code'

import { validationMixin } from 'vuelidate'
import { required, email } from 'vuelidate/lib/validators'

export default {
    name: 'LoginComponent',
    mixins: [validationMixin],

    data () {
        return {
            items: {
                email: null,
                password: null
            },
            sending: false,

            userList: {},

            respDoesExists: null
        };
    },

    mounted() {
        this.deconnect();
    },

    validations: {
        items: {
            email: {
                required,
                email
            },
            password: {
                required
            }
        }
    },

    methods: {
        getValidationClass(fieldName) {
            const field = this.$v.items[fieldName];

            if (field) {
                return {
                    'md-invalid': field.$invalid && field.$dirty
                };
            }
        },

        clearForm() {
            this.$v.$reset();
            this.items.email = null;
            this.items.password = null;
        },

        validateUser() {
            this.$v.$touch();

            if (!this.$v.$invalid) {
                this.tryUser();
            }
        },

        async tryUser() {
            this.sending = true;

            try {
                var resp = await UserApiServices.logInAsync({
                    email: this.items.email,
                    password: this.items.password
                });

                var body = await resp.json();
                localStorage.setItem('token', body);
                
                var userInfo = this.$jwt.decode(body);

                localStorage.setItem('userInfo',JSON.stringify(userInfo));

                this.$router.replace('/ProgramSubscripted');
            } catch (e) {
                console.log(e);

                this.respDoesExists = true;
            }
            this.sending = false;
        },

        deconnect() {
            this.isLogged = false;
            this.signingUp = false;

            this.clearForm();

            this.respDoesExists = false;

            localStorage.clear();
        },

        inscriptionRoute() {
            this.$router.replace('/Inscription');
        }
    }
}
</script>

<style scoped>

    .field {
        margin-bottom: 20px;
        margin-left: 15px;
        margin-right: 15px;
    }

    form { margin:10px; }

    #inscriptionButton {
        position: absolute;
        right: 0;
        margin-right: 10px;
    }

    #noUserFound {
        float: left;
        margin: 10px;
        color: darkorange;
    }
</style>
