<template>
    <div>
        <qr-code v-if="code != null"
            id="qr"
            :text="this.code"
            :size="250">
        </qr-code><br/>

        <md-button
            class="md-raised md-primary"
            md-theme="md-theme-red"
            @click="back()">
            Retour
        </md-button>
    </div>
</template>

<script>

import UserApiServices from './../../services/UserApiServices'

export default {
    name: 'QrCodeComponent',
    data () {
        return {
            userInfo: {},
            code: null
        };
    },

    // beforeCreate() {
    //     if (Number(JSON.parse(localStorage.getItem("token")).expiresIn) >= new Date().getTime() / 1000) {
    //         this.$router.replace('/Login');
    //     }
    // },
    // beforeMount() {
    //     if (Number(JSON.parse(localStorage.getItem("token")).expiresIn) >= new Date().getTime() / 1000) {
    //         this.$router.replace('/Login');
    //     }
    // },

    async mounted() {
        this.userInfo = JSON.parse(localStorage.getItem('userId'));

        try {
            var resp = await UserApiServices.getQrCodeAsync();
            var body = resp.json();
            this.code = body;
        } catch (e) {
            console.log(e);
        }
    },

    methods: {
        back() {
            this.$router.replace('/QrCodeScanner');
        }
    }
}
</script>

<style scoped>

    #divQr {
        text-align: center;
    }

    #qr {
        display:inline-block;
        border: 30px solid #000000;
        border-image: url('https://i.stack.imgur.com/1WlsT.png') 35% repeat;
    }

    ul {
        padding: 0px;
        list-style-type: none;
    }

    .card-qr-code {
        width: 60%;

        padding: 20px;
    }


</style>
