<template>
    <div>
        <md-list class="list">
            <md-list-item to='/QrCode' replace>
                <div>
                    <md-icon class="inline-block" :md-src="iconQrCode"/>
                    <span>QR Code</span>
                </div>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item to='/Scanner' replace>
                <div>
                    <md-icon>settings_overscan</md-icon>
                    <span>Scanner de QR Code</span>
                </div>
            </md-list-item>
            <md-divider></md-divider>
        </md-list>
    </div>
</template>

<script>

import qrcode from './../../assets/qr-code.svg'

export default {
    name: 'QrCodeScannerComponent',
    data () {
        return {
            iconQrCode: qrcode
        };
    },

    // beforeCreate() {
    //     if (Number(JSON.parse(localStorage.getItem("token")).expiresIn) >= new Date().getTime() / 1000) {
    //         this.$router.replace('/Login');
    //     }
    // },
    // beforeMount() {
    //     if (Number(JSON.parse(localStorage.getItem("token")).expiresIn) >= new Date().getTime() / 1000) {
    //         this.$router.replace('/Login');
    //     }
    // },
}
</script>

<style scoped>

    .list {
        margin: 10px;

        padding-left: 10px;
        padding-right: 10px;
    }

    .inline-block {
        display: inline-block;
    }

</style>
