<template>
    <div>
        <p>Scan en cours...</p><br/><br/>

        <md-button
            class="md-raised md-primary"
            md-theme="md-theme-red"
            @click="back()">
            Retour
        </md-button>

        <md-snackbar :md-active.sync="scanDone" id="infoMessage">
            {{ message }}
        </md-snackbar>

        <md-dialog-alert :md-active.sync="scanDone"
            class="popUpPanel"
            :md-title="scanFail ? 'Le scan n\'a pas abouti...' : scanSuccess ? 'Le scan a réussi' : clientAdded ? 'Le client a été ajouté au programme de fidélité' : 'Erreur Inconnue'"
            :md-content="message"
            md-confirm-text="Ok"/>
    </div>
</template>

<script>

import ApiServices from './../../services/ApiServices'

export default {
    name: 'ScannerComponent',
    data () {
        return {
            userInfo: null,
            message: "",

            scanSuccess: false,
            scanFail: false,
            clientAdded: false
        };
    },

    // beforeCreate() {
    //     if (Number(JSON.parse(localStorage.getItem("token")).expiresIn) >= new Date().getTime() / 1000) {
    //         this.$router.replace('/Login');
    //     }
    // },
    // beforeMount() {
    //     if (Number(JSON.parse(localStorage.getItem("token")).expiresIn) >= new Date().getTime() / 1000) {
    //         this.$router.replace('/Login');
    //     }
    // },

    async mounted() {
        this.userInfo = JSON.parse(localStorage.getItem('userId'));

        this.scanCode();
    },

    methods: {
        // Beaucoup trop de truc débile dans la partie scan,
        // les requête sertvent à rien pour la plupart, tout peut être fait en beaucoup moins de requête,
        // 1 seue, je sais pas, mais c'est beaucoup trop compliqué et lourd (multiple requêtes pour 1 opération... >.<)
        async scanCode() {
            if (cordova.plugins == undefined) {
                this.message = "Le Scanner n'est pas disponible ici...";
                this.scanFail = true;
			}
            else {
                var global = this;

                cordova.plugins.barcodeScanner.scan(
                    async function (result) {
                        if (global.userInfo.type == 'client') {
                            global.message = "Vous n'êtes pas un commerçant, votre scanner n'a aucun effet";
                            global.scanFail = true;
                        }
                        else {
                            if(result.cancelled) {
                                global.message = "Le scan a été annulé.";
                                global.scanFail = true;
                            }
                            else {
                                if(result.format != "QR_CODE"){
                                    global.message = "Ce n'est pas un QR Code";
                                    global.scanFail = true;
                                }
                                else {
                                    var res = result.text;

                                    var clientTargeted = await ApiServices.getUserByIdGUIDAsync(res);

                                    if (!clientTargeted.email) {
                                        global.message = "Ce code n'est pas un code client.";
                                        global.scanFail = true;
                                    }
                                    else {
                                        var shop = await ApiServices.getShopByOwnerId(global.userInfo.userId);
                                        var subscription = await ApiServices.getSubscriptionByUserAndShopIdAsync(clientTargeted.userId, shop.shopId);

                                        if (!subscription) {
                                            await global.addClient(clientTargeted, shop);
                                        }

                                        await global.increasePoints(clientTargeted, shop);
                                    }
                                }
                            }
                        }

                    },
                    function (error) {
                        alert("An error ocurred: " + error);
                    },
                    {
                        orientation: "portrait"
                    }
                );
            }
        },

        async addClient(client, shop) {
            try {
                var resp = await ApiServices.registerSubscriptionAsync(client.userId, shop.shopId);

                this.message = "Souscription automatique éffectuée";
                this.clientAdded = true;
            } catch (e) {
                console.log(e);

                this.message = "Une erreur est survenue...";
                this.scanFail = true;
            }
        },

        async increasePoints(client, shop) {
            try {
                var resp = await ApiServices.increasePointNumber(client.userId, shop.shopId);

                this.message = `${client.firstName} ${client.lastName} vient de gagner un point de fidélité !`;
                this.scanSuccess = true;
            } catch (e) {
                console.log(e);

                this.message = "Une erreur est survenue...";
                this.scanFail = true;
            }
        },

        back() {
            this.$router.replace('/QrCodeScanner');
        }
    }
}
</script>

<style scoped>

    #infoMessage {
        position: absolute;
        bottom: 55px;

        z-index: -1;
    }

</style>
